.tools-in-work,
.visual-studio-code {
  position: absolute;
  line-height: 100px;
  display: inline-block;
}
.tools-in-work {
  width: 36.95%;
  top: 0;
  left: 0.09%;
  font-size: var(--font-size-41xl);
}
.visual-studio-code {
  height: 12.97%;
  width: 100%;
  top: 69.67%;
  left: 0;
  font-weight: 500;
}
.image-13-icon {
  position: absolute;
  height: 69.67%;
  width: 98.57%;
  top: 0;
  right: 1.43%;
  bottom: 30.33%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.i-can-use {
  position: absolute;
  width: 98%;
  top: 88.49%;
  left: 0.29%;
  font-size: var(--body-text-size);
  line-height: 27.5px;
  font-family: var(--body-text);
  color: var(--color-black);
  display: inline-block;
}
.visual-studio-code-parent {
  position: absolute;
  height: 78.88%;
  width: 30.86%;
  top: 16.5%;
  right: 69.14%;
  bottom: 4.62%;
  left: 0;
  color: var(--color-lightgray);
}
.figma,
.image-14-icon {
  position: absolute;
  width: 100%;
  left: 0;
}
.figma {
  height: 12.25%;
  top: 65.81%;
  line-height: 100px;
  font-weight: 500;
  display: inline-block;
}
.image-14-icon {
  height: 65.81%;
  top: 0;
  right: 0;
  bottom: 34.19%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.every-of-mockup {
  position: absolute;
  width: 73.91%;
  top: 83.6%;
  left: 0;
  font-size: var(--body-text-size);
  line-height: 27.5px;
  font-family: var(--body-text);
  color: var(--color-black);
  display: inline-block;
}
.figma-parent {
  position: absolute;
  height: 83.5%;
  width: 30.42%;
  top: 16.5%;
  right: 37.83%;
  bottom: 0;
  left: 31.75%;
  color: var(--color-lightgray);
}
.image-15-icon {
  position: absolute;
  height: 65.81%;
  width: 82.34%;
  top: 0;
  right: 16.47%;
  bottom: 34.19%;
  left: 1.19%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.git-github,
.in-my-project {
  position: absolute;
  width: 82.1%;
  top: 83.6%;
  left: 1.19%;
  line-height: 27.5px;
  display: inline-block;
}
.git-github {
  height: 12.25%;
  width: 100%;
  top: 65.81%;
  left: 0;
  font-size: var(--font-size-13xl);
  line-height: 100px;
  font-weight: 500;
  font-family: var(--sub-header);
  color: var(--color-lightgray);
}
.image-15-parent {
  position: absolute;
  height: 83.5%;
  width: 36.95%;
  top: 16.5%;
  right: 0;
  bottom: 0;
  left: 63.05%;
  font-size: var(--body-text-size);
  font-family: var(--body-text);
}
.tool {
  width: 1134px;
  height: 606px;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--sub-header);
}
